* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.error-text {
  color: red;
}

.success-text {
  color: green;
}

h1 {
  font-size: 52px;
  line-height: 50px;
}

h2 {
  font-size: x-large;
}
